* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: #FAFAFA;
    box-sizing: 0;

}

body {
    /* background-color: black; */
    /* padding: 0 20px; */
}

.main {
    width: 80%;
    margin: 0 auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

nav {
    background-color: #FAFAFA;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#BrName {
    font-size: 24px;
    font-weight: 700;
    background-color: #252B42;
    font-family: montserrat;


}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    height: 58;
}

.links a {
    font-size: 15px;
    color: black;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    /* width: ; */
}

#login {
    background-color: #FAFAFA;
    color: #96BB7C;
    border: none;
    cursor: pointer;
    width: 137;
    height: 52;
    font-family: montserrat;
}

#Join {
    width: 137;
    height: 52;
    opacity: 1;
    gap: 15px;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
    background-color: #96BB7C;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: montserrat;
}

#arrow {
    color: white;
    background-color: transparent;
    margin-left: 10px;

}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 65px;
    gap: 80px;

}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}

.right-parent {
    width: 50%;
}

#right {
    z-index: 2;
    top: 110px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right img {
    width: 100%;
    background-color: transparent;
}

#left h5 {
    font-weight: 700;
    color: #96BB7C;
    font-size: 16px;
    font-family: montserrat;
}

#left h1 {
    font-weight: 700;
    font-size: 58px;
    color: #252B42;
    font-family: montserrat;
}

#left h4 {
    font-size: 20px;
    color: #737373;
    font-family: montserrat;
    font-weight: 400;
}

.but {
    display: flex;
    width: 100%;
    gap: 20px;
}

.but #get {
    width: 100%;
    height: 52px;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
    background-color: #96BB7C;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-family: montserrat;
}

.but #join1 {
    width: 100%;
    height: 52px;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
    border: none;
    cursor: pointer;
    font-family: montserrat;
    background-color: white;
    color: #96bb7c;
    display: none;
}

.learn {
    width: 100%;
    height: 52px;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
    color: #96BB7C;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-family: montserrat;
}

.card {
    margin-top: -25px;
    position: relative;
    z-index: 5;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
}

.card-body {
    background-color: #FFFFFF;
    display: flex;
    border-radius: 5px;
    flex-direction: column;

}

.card-content {
    /* width: 299px; */
    margin-left: 20px;
    height: 296px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #FFFFFF;
}

.card-parent {
    width: 33.33%;
    max-height: 300px;
    padding: 10px;
}

#circle {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle img {
    background-color: red;
}

#line {
    width: 60px;
    height: 2.5px;
    background-color: red;
    margin-top: 10px;
}

#text {
    font-size: 24px;
    font-weight: 700;
    color: #252B42;
    font-family: montserrat;
    background-color: white;
    margin-top: 20px;
}

.card-text {
    font-size: 10px;
    font-weight: 400;
    color: #252B42;
    font-family: montserrat;
    background-color: white;
    margin-top: 20px;
}

.stats {
    width: 100%;
    /* height: 264px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px 0;
}

.stats-container {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    background-color: transparent;
}

.stats-container p {
    font-size: 24px;
    font-weight: 700;
    color: #252B42;
    font-family: montserrat;
    text-align: center;
    background-color: white;
}

#Number {
    font-size: 48px;
    font-weight: 700;
    color: #96BB7C;
    font-family: montserrat;
}

.layout-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px 0;
}

.layout-2-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;

}

.layout-2-left {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-color: white;
    width: 50%;
    height: 100%;

}

.layout-2-left h2 {
    margin-top: 20px;
    background-color: white;
    font-size: 40px;
    font-weight: 700;
    color: #252B42;
    font-family: montserrat;
}

.layout-2-left p {
    background-color: white;
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    font-family: montserrat;
    margin-top: 20px;
}

.layout-2-left a {
    background-color: white;
    font-size: 14px;
    font-weight: 400;
    color: #96BB7C;
    font-family: montserrat;
    margin-top: 20px;
}

.layout-2-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: white;
}

.layout-2-right img {
    background-color: white;
    position: relative;
    width: 100%;
}

.layout-3 {
    background-color: #FFF2F3;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.layout-3-container {
    background-color: #FFF2F3;
    width: 85%;
}

.upper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFF2F3;
    justify-content: space-evenly;
    /* align-items: left; */
    margin-top: 20px;
    margin-bottom: 30px;
}

.upper-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    background-color: #FFF2F3;
}

.upper-content p {
    background-color: #FFF2F3;
    font-family: montserrat;
    padding-bottom: 10px;
}

.upper-content h1 {
    padding-bottom: 10px;
    background-color: #FFF2F3;
}

.down {
    width: 100%;
    ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    gap: 10px;
}

.down-card {
    width: 100%;
    /* height: 650px; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
}

#rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 50px;
    height: 25px;
    border-radius: 20%;
    background-color: #2D4059;
    padding: 1px 4px;
}

#card-text {
    font-size: 14px;
    font-weight: 700;
    color: #96BB7C;
    font-family: montserrat;
    background-color: white;
}

.down-card-body {
    padding-top: 10px;
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 14px;
}

.down-card-parent {
    width: 33.33%;
}

#down-text {
    font-size: 14px;
    font-weight: 400;
    color: #252B42;
    font-family: montserrat;
    background-color: white;
    margin-top: 20px;
}

.down-card-body h5 {
    font-size: 24px;
    font-weight: 700;
    color: #252B42;
    font-family: montserrat;
    background-color: white;
}

.down-card-body span {
    font-size: 14px;
    font-weight: 700;
    color: #737373;
    font-family: montserrat;
    background-color: white;
}

#price {
    background-color: white;
}

.down-card-body #newprice {
    font-size: 14px;
    font-weight: 700;
    color: #FFAB71;
    font-family: montserrat;
}

.down-card-body #old-price {
    text-decoration: line-through;
    padding-right: 10px;
}

.layout-5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 20px;
    padding: 40px 0;
}

#down-learn {
    width: 100%;
    border: 1px solid #96BB7C;
    border-radius: 37px;
    margin-bottom: 25px;
}

.image-btn {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-btn img {
    width: 100%;
    height: 250px;
    display: block;
    z-index: 1;
}

.btn-inside-image {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 4;
    background-color: transparent;
}

.circle {
    /* position: absolute; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: none;
    cursor: pointer;
}

#sale {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    font-family: montserrat;
}

.layout-4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 20px;
    padding: 40px 0;
}

.layout-4-container {
    background-color: white;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.layout-4-upper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-evenly;
    align-items: left;
}

.layout-4-upper-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    background-color: white;
}

.layout-4-upper-content p {
    background-color: white;
    font-family: montserrat;
    padding-bottom: 10px;
}

.layout-4-upper-content h1 {
    padding-bottom: 10px;
    background-color: white;
}

.bottom {

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.bottom-card {
    width: 33.33%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.bottom-card-body {
    width: 80%;
    height: 85%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.bottom-card p {
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    font-family: montserrat;
    background-color: white;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    background-color: white;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.star {
    color: #FFCE31;
    ;
    border-radius: 5px;
}

.profile h5 {
    font-size: 14px;
    font-weight: 700;
    color: #96BB7C;
    font-family: montserrat;
    background-color: white;
}

.layout-5-bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 50px;
    background-color: white;
}

.course-card {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    width: 240px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.course-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.course-body {
    padding: 20px 10px;
    text-align: center;
    background-color: white;
}

.course-body h5 {
    margin: 10px 0 5px;
    font-size: 18px;
    font-weight: 700;
    color: #252B42;
    background-color: white;
}

.course-body p {
    margin: 0 0 15px;
    background-color: white;
    font-size: 14px;
    color: #737373;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: white;
}

.social-links i {
    font-size: 18px;
    color: #96BB7C;
    background-color: white;
}

.newsletter {
    text-align: center;
    background-color: white;
    padding: 80px 0;
}

.newsletter .subtitle {
    color: #96BB7C;
    font-weight: 600;
    margin-bottom: 8px;
    background-color: white;
}

.newsletter h2 {
    font-size: 28px;
    margin-bottom: 12px;
    font-weight: 700;
    background-color: white;
}

.newsletter .desc {
    color: #737373;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 80px;
    background-color: white;
}

.newsletter-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
    margin-bottom: 50px;
}

.newsletter-form input[type="email"] {
    flex: 1;
    padding: 14px 20px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #F9F9F9;
}

.newsletter-form button {
    background-color: #96BB7C;
    color: white;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
    background-color: #7da864;
}

.footer {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    box-sizing: border-box;
}

.footer-columns {
    background-color: white;
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.footer-column {
    background-color: white;
}

.footer-column h4 {
    font-weight: 700;
    margin-bottom: 16px;
    background-color: white;
}

.links-footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links-footer a {
    color: #737373;
    background-color: white;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    line-height: 1.5;
}

.links-footer a:hover {
    color: #96BB7C;
}



@media screen and (max-width: 521px) {
    .header {
        /* background: black; */
        padding: 10px;
    }

    .links {
        display: none;
    }

    nav {
        justify-content: space-between;
    }

    #Join {
        display: none;
    }

    .but {
        flex-direction: column;
        gap: 10px;
    }

    .right-parent {
        display: none;
    }

    #left {
        width: 100%;
    }

    .down {
        flex-direction: column;
    }

    .down-card-parent {
        width: 100%;
    }

    .down-card-body {
        padding: 5px;
    }

    .bottom {
        flex-direction: column;
    }

    .bottom-card {
        padding: 24px 5px;
        border-bottom: 1px solid #00000029;
        width: 100%;
    }

    .but {
        width: 100%;
    }

    .text-content {
        width: 100%;
    }

    .but #join1 {
        display: block;
    }

    .learn {
        display: none;
    }

    .footer {
        padding: 40px 20px;
    }

    .footer-columns {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .footer-column {
        width: 100%;
        max-width: 400px;
    }

    .layout-4-upper-content p {
        font-size: 14px;
    }

    .layout-4-upper-content h1 {
        font-size: 18px;
    }

    .down-card-body #newprice {
        font-size: 18px;
    }

    #Number {
        font-size: 24px !important; 
    }
        .stats-container span p {
        font-size: 12px !important;
    }
    .links-footer{
        align-items: center;
    }


}

@media screen and (max-width: 991px) {
    .header {
        /* background: black; */
        padding: 10px;
    }

    .links {
        display: none;
    }

    nav {
        justify-content: space-between;
    }

    #left h5 {
        font-size: 13px;
    }

    #left h4 {
        font-size: 15px;
    }

    #left h1 {
        font-size: 36px;
    }

    .but {
        flex-direction: column;
    }

    .but button {
        font-size: 12px;
    }

    .but button {
        width: 100%;
    }

    #right-parent {
        width: 60%;
        position: relative;
        /* padding: 8px; */
    }

    #right {
        position: absolute;
        width: 50%;
        top: 0;
        background-color: transparent;
    }

    .card {
        margin-top: 20px;
        flex-direction: column;
    }

    .text-content {
        gap: 15px;
    }

    .card-parent {
        width: 100%;
    }

    /* .content {
        gap: 65px;
    } */

    .card-content {
        padding: 2px 8px;
    }

    #Number {
        font-size: 45px;
    }

    .stats-container span p {
        font-size: 12px;
    }

    .circle {
        width: 30px;
        height: 30px;
    }

    .down-card-body span {
        font-size: 10px;
    }

    .star {
        font-size: 12px;
        color: #FFCE31
    }

    #card-text {
        font-size: 10px;
    }

    .down-text {
        font-size: 10px;
    }

    .down-card-body h5 {
        font-size: 20px;
    }

    #rating {
        width: 40px;
        height: 20px;
    }

    .bottom-card p {
        font-size: 10px;
    }

    .profile img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .profile h5 {
        font-size: 12px;
    }

    .profile p {
        font-size: 10px;
    }
    .newsletter{
        padding: 80px 20px;
    }
}
@media screen and (min-width: 521px) and (max-width: 769px) {
        .footer-columns { 
        flex-direction: column !important;
        align-items: center !important;
        text-align: center !important;
        gap: 30px !important;
    }
    .links-footer{
        align-items: center ;
    }
    
}